@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 600;
  src: url(../fonts/Lato-SemiBold.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Korataki";
  font-weight: 400;
  src: url(../fonts/korataki.otf);
}
