body {
  font-family: "Lato";
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.bar-info {
  width: 100%;
  padding: 12px 0px;
  background: #231815;
}

.bar-info__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 70px;
}

.bar-info__links a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

/* стили для хедера */
.header {
  padding: 12px 0px;
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items__menu {
  margin: 0 auto;
}
ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
li.menu__item a {
  color: #231815;
}

.header-items__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header-items__button__search {
  padding: 7px 14px 7px 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: 1px solid #f5f5f5;
  border-radius: 100px;
}
.header-items__button__search input {
  width: 109px;
}

.header-items__button__bag {
  padding: 7.5px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  background-color: #000000;
  border-radius: 100px;
  color: white;
}
.bag-icon {
  position: relative;
}
.bag-icon img {
  width: 18.67px;
}
.bag-icon__count {
  position: absolute;
  top: -4.5px;
  right: -9px;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.burger-menu {
  display: none;
}

.sidebar {
  display: none;
}

/********************/

/* main */

.main {
  padding: 60px 0px;
}
.main__title h2 {
  font-family: "Korataki";
  font-size: 44px;
  line-height: 61.6px;
  color: #231815;
}

.main__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 50px;
}

/* card */

.card {
  width: 320px;
}
.card__image {
  width: 320px;
  height: 477px;
  position: relative;
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card__title {
  padding: 20px 0px 12px 0px;
}
.card__title h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #231815;
}
.card__price p {
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 700;
  color: #231815;
}
.__sale p {
  color: #e45302;
}
.__sale span {
  padding-left: 16px;
  color: #808080;
  text-decoration: line-through;
}
.card__image__sale-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #231815;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: white;
  padding: 8px 39.5px;
  border-radius: 100px;
}
.card__image__btn-details {
  position: absolute;
  width: 100%;
  height: 88px;
  background-color: rgba(245, 245, 245, 0.7);
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  opacity: 0;
}
.card__image__btn-details p {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #e45302;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  padding: 13px 86.5px;
  color: white;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
.card:hover .card__image__btn-details {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}
.card:hover .card__image__btn-details p {
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.card:not(:hover) .card__image__btn-details {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card:not(:hover) .card__image__btn-details p {
  opacity: 0;
  transform: translate(-50%, 50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/***********************/

/* footer */

.footer {
  width: 100%;
  height: 320px;
  background-color: #0c0c0c;
  padding: 60px 0;
}
.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas:
    "logo address footer-menu documents"
    "policy contact footer-menu banks-icon";
}

.footer__columns__logo {
  grid-area: logo;
}
.footer__columns__policy {
  grid-area: policy;
  margin-top: 52.9px;
}
.footer__columns__address {
  grid-area: address;
}
.footer__columns__contact {
  grid-area: contact;
  margin-top: 36.9px;
}
.footer__columns__menu {
  grid-area: footer-menu;
}
.footer__columns__documents {
  grid-area: documents;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__columns__banks-icon {
  grid-area: banks-icon;
  text-align: right;
  margin-top: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 33px;
}

.footer__columns__policy p {
  font-family: "Roboto", serif;
  color: #808080;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  width: 322px;
}
span.policy__link {
  text-decoration: underline;
}
.columns__title h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: white;
}
.columns__text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f5;
}
.columns__menu__list {
  display: flex;
  flex-direction: column;
}
a.columns__menu__list__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #f5f5f5;
  margin-top: 20px;
}
a.documents__link {
  font-size: 16px;
  line-height: 22.4px;
  color: #808080;
}

/********************/

@media screen and (max-width: 1600px) {
  .container {
    width: 1240px;
  }
  .header-items__button__search {
    padding: 9px;
    border: none;
    border-radius: 50%;
    background-color: #231815;
  }
  .header-items__button__search {
    width: 39px;
    height: 39px;
  }
  .header-items__button__search button path {
    fill: white;
  }
  .header-items__button__search input {
    display: none;
  }

  /* main */

  .main__title h2 {
    font-size: 40px;
    line-height: 56px;
  }
  .main__cards {
    margin-top: 40px;
    column-gap: 30px;
    row-gap: 30px;
  }

  /* card */
  .card {
    width: 288px;
  }
  .card__image {
    width: 288px;
    height: 429px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 21px;
  }
  ul.menu {
    gap: 21px;
  }
  .main__cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      column-gap: 20px;
      row-gap: 20px;
  }
  .card {
    width: 100%;
  }
  .card__image {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 680px;
    padding: 0;
  }
  .bar-info {
    display: none;
  }
  .header-items__logo {
    width: 141px;
  }
  .header-items__logo img {
    width: 100%;
  }
  .header-items__menu {
    display: none;
  }
  .header-items__button {
    display: none;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 23px;
    height: 2px;
    background-color: #0d0b26;
  }
  .burger-menu::after,
  .burger-menu::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #0d0b26;
  }
  .burger-menu::after {
    top: 4px;
  }
  .burger-menu::before {
    top: -4px;
  }

  .sidebar {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    top: -100%;
    left: 0;
    z-index: 10;
    transition: all 0.7s ease 0s;
  }
  .sidebar__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  a.sidebar__menu__item {
    font-size: 24px;
    color: #0c0c0c;
  }
  .sidebar__close {
    position: absolute;
    top: 27px;
    right: 35px;
    width: 23px;
    height: auto;
  }
  .sidebar__close::after,
  .sidebar__close::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #0d0b26;
  }
  .sidebar__close::after {
    transform: rotate(45deg);
  }
  .sidebar__close::before {
    transform: rotate(-45deg);
  }
  .open {
    top: 0;
    transition: all 0.7s ease 0s;
  }


  /* main */

  .main {
    padding: 50px 0px;
  }
  .main__title h2 {
    font-size: 32px;
    line-height: 44.8px;
  }
  .main__cards {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }

  /* card */
  .card {
    width: 320px;
  }
  .card__image {
    width: 320px;
    height: 477px;
  }

  /* footer */
  .footer {
    height: auto;
    padding: 50px 0 30px 0;
  }
  .footer__columns {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 0 0;
    grid-template-areas:
      "logo logo logo"
      "address contact footer-menu"
      "documents . footer-menu"
      "banks-icon policy policy";
  }
  .footer__columns__logo {
    grid-area: logo;
    margin-bottom: 33.23px;
  }
  .footer__columns__policy {
    grid-area: policy;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 56px;
  }
  .footer__columns__address {
    grid-area: address;
  }
  .footer__columns__contact {
    grid-area: contact;
    margin-top: 0;
  }
  .footer__columns__menu {
    grid-area: footer-menu;
  }
  .footer__columns__documents {
    grid-area: documents;
    margin-top: 37px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__columns__banks-icon {
    grid-area: banks-icon;
    text-align: left;
    margin-top: 0;
    justify-content: flex-start;
  }
  a.columns__menu__list__item {
    margin-top: 30px;
  }
  .footer__columns__policy p {
    width: 382px;
  }
}

@media screen and (max-width: 690px) {
  .container {
    width: 100%;
    padding: 0 14px;
  }
  .main__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}
.card {
  width: 100%;
}
.card__image {
  width: 100%;
}
}

@media screen and (max-width: 600px) {
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer__columns {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 0 0;
    grid-template-areas:
      "logo"
      "address"
      "contact"
      "footer-menu"
      "documents"
      "banks-icon"
      "policy";
  }
  .footer__columns__logo {
    grid-area: logo;
    width: 180px;
    margin-bottom: 34.23px;
  }
  .footer__columns__logo img {
    width: 100%;
  }
  .footer__columns__policy {
    grid-area: policy;
    margin-top: 30px;
    align-items: flex-start;
    padding: 0;
  }
  .footer__columns__address {
    grid-area: address;
  }
  .footer__columns__contact {
    grid-area: contact;
    margin: 30px 0;
  }
  .footer__columns__menu {
    grid-area: footer-menu;
  }
  .footer__columns__documents {
    grid-area: documents;
    margin-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__columns__banks-icon {
    grid-area: banks-icon;
    margin-top: 72px;
  }
  a.columns__menu__list__item {
    margin-top: 20px;
  }
  .footer__columns__policy p {
    width: 321px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    width: 320px;
    padding: 0;
  }
  .bar-info {
    display: none;
  }
  .header {
    padding: 10px 0px;
  }

  /* main */

  .main {
    padding: 40px 0px;
  }
  .main__title h2 {
    font-size: 24px;
    line-height: 33.6px;
  }
  .main__cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    column-gap: 10px;
    row-gap: 30px;
  }

  /* card */

  .card {
    width: 155px;
  }
  .card__image {
    width: 155px;
    height: 230px;
  }
  .card__image img {
    border-radius: 9.73px;
  }
  .card__title {
    padding: 10px 0px 11px 0px;
  }
  .card__title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .card__price p {
    font-size: 16px;
    line-height: 22.4px;
  }
  .__sale span {
    padding-left: 10px;
  }
  .card__image__sale-icon {
    top: 10px;
    left: 10px;
    font-size: 14px;
    line-height: 19.6px;
    padding: 2px 14.5px;
  }
  .card__image__btn-details p {
    display: none;
  }

  /* footer */
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer__columns {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 0 0;
    grid-template-areas:
      "logo"
      "address"
      "contact"
      "footer-menu"
      "documents"
      "banks-icon"
      "policy";
  }
  .footer__columns__logo {
    grid-area: logo;
    width: 180px;
    margin-bottom: 34.23px;
  }
  .footer__columns__logo img {
    width: 100%;
  }
  .footer__columns__policy {
    grid-area: policy;
    margin-top: 30px;
    align-items: flex-start;
    padding: 0;
  }
  .footer__columns__address {
    grid-area: address;
  }
  .footer__columns__contact {
    grid-area: contact;
    margin: 30px 0;
  }
  .footer__columns__menu {
    grid-area: footer-menu;
  }
  .footer__columns__documents {
    grid-area: documents;
    margin-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__columns__banks-icon {
    grid-area: banks-icon;
    margin-top: 72px;
  }
  a.columns__menu__list__item {
    margin-top: 20px;
  }
  .footer__columns__policy p {
    width: 321px;
  }
}
