body {
  font-family: "Lato";
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.bar-info {
  width: 100%;
  padding: 12px 0px;
  background: #231815;
}

.bar-info__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 70px;
}

.bar-info__links a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

/* стили для хедера */
.header {
  padding: 12px 0px;
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items__menu {
  margin: 0 auto;
}
ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
li.menu__item a {
  color: #231815;
}

.header-items__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header-items__button__search {
  padding: 7px 14px 7px 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: 1px solid #f5f5f5;
  border-radius: 100px;
}
.header-items__button__search input {
  width: 109px;
}

.header-items__button__bag {
  padding: 7.5px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  background-color: #000000;
  border-radius: 100px;
  color: white;
}
.bag-icon {
  position: relative;
}
.bag-icon img {
  width: 18.67px;
}
.bag-icon__count {
  position: absolute;
  top: -4.5px;
  right: -9px;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.burger-menu {
  display: none;
}

/********************/

/* main */

.main {
  padding: 60px 0px;
}
.main__title h2 {
  font-family: "Korataki";
  font-size: 44px;
  line-height: 61.6px;
  color: #231815;
}

.main__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 50px;
}

/* card */

.card {
  width: 320px;
}
.card__image {
  width: 320px;
  height: 477px;
  position: relative;
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card__title {
  padding: 20px 0px 12px 0px;
}
.card__title h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #231815;
}
.card__price p {
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 700;
  color: #231815;
}
.__sale p {
  color: #e45302;
}
.__sale span {
  padding-left: 16px;
  color: #808080;
  text-decoration: line-through;
}
.card__image__sale-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #231815;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: white;
  padding: 8px 39.5px;
  border-radius: 100px;
}

/***********************/

/********************/

@media screen and (max-width: 1600px) {
  .container {
    width: 1240px;
  }
  .header-items__button__search {
    padding: 9px;
    border: none;
    border-radius: 50%;
    background-color: #231815;
  }
  .header-items__button__search {
    width: 39px;
    height: 39px;
  }
  .header-items__button__search button path {
    fill: white;
  }
  .header-items__button__search input {
    display: none;
  }

  /* main */

  .main__title h2 {
    font-size: 40px;
    line-height: 56px;
  }
  .main__cards {
    margin-top: 40px;
    column-gap: 30px;
    row-gap: 30px;
  }  

  /* card */
  .card {
    width: 288px;
  }
  .card__image {
    width: 288px;
    height: 429px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 680px;
  }
  .bar-info {
    display: none;
  }
  .header-items__logo {
    width: 141px;
  }
  .header-items__logo img {
    width: 100%;
  }
  .header-items__menu {
    display: none;
  }
  .header-items__button {
    display: none;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 23px;
    height: 2px;
    background-color: #0d0b26;
  }
  .burger-menu::after,
  .burger-menu::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #0d0b26;
  }
  .burger-menu::after {
    top: 4px;
  }
  .burger-menu::before {
    top: -4px;
  }

  /* main */

  .main {
    padding: 50px 0px;
  }
  .main__title h2 {
    font-size: 32px;
    line-height: 44.8px;
  }
  .main__cards {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }
  

  /* card */
  .card {
    width: 320px;
  }
  .card__image {
    width: 320px;
    height: 477px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    width: 320px;
  }
  .bar-info {
    display: none;
  }
  .header {
    padding: 10px 0px;
  }

  /* main */

  .main {
    padding: 40px 0px;
  }
  .main__title h2 {
    font-size: 24px;
    line-height: 33.6px;
  }
  .main__cards {
    margin-top: 24px;
    column-gap: 10px;
    row-gap: 30px;
  }
  

  /* card */

  .card {
    width: 155px;
  }
  .card__image {
    width: 155px;
    height: 230px;
  }
  .card__image img {
    border-radius: 9.73px;
  }
  .card__title {
    padding: 10px 0px 11px 0px;
  }
  .card__title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .card__price p {
    font-size: 16px;
    line-height: 22.4px;
  }
  .__sale span {
    padding-left: 10px;
  }
  .card__image__sale-icon {
    top: 10px;
    left: 10px;
    font-size: 14px;
    line-height: 19.6px;
    padding: 2px 14.5px;
  }
}
